<% layout('./layouts/boilerplate.ejs') %>
<h1 class="text-center">this is the explore page.</h1>

<div class="w-100 text-center mx-auto">

<% if(currentUser){ %>
    <% for(let i=filteredExplorePosts.length-1; i>=0; i=i-3){ %> 
    <div class="container text-center" style="width: 60%;">
    <div class="row">
      <div class="col border bg-secondary">
        <% if(filteredExplorePosts[i]){ %>
        <img style="height: 10em; width: 10em;" src="<%= filteredExplorePosts[i].post[0].url %>" alt="...">
        <% }else{} %>
      </div>
      <div class="col border bg-secondary">
        <% if(filteredExplorePosts[i-1]){ %>
      <img style="height: 10em; width: 10em;" src="<%= filteredExplorePosts[i-1].post[0].url %>" alt="...">
      <% }else{} %>
      </div>
      <div class="col border bg-secondary">
        <% if(filteredExplorePosts[i-2]){ %>
      <img style="height: 10em; width: 10em;" src="<%= filteredExplorePosts[i-2].post[0].url %>" alt="...">
      <% }else{} %>
      </div>
    </div>
</div>
<% } %>

<% }else{ %>
  <% for(let i=allPosts.length-1; i>=0; i=i-3){ %>
    <div class="container text-center" style="width: 60%;">
    <div class="row">
      <div class="col border bg-secondary">
        <% if(allPosts[i]){ %>
        <img style="height: 10em; width: 10em;" src="<%= allPosts[i].post[0].url %>" alt="...">
        <% }else{} %>
      </div>
      <div class="col border bg-secondary">
        <% if(allPosts[i-1]){ %>
      <img style="height: 10em; width: 10em;" src="<%= allPosts[i-1].post[0].url %>" alt="...">
      <% }else{} %>
      </div>
      <div class="col border bg-secondary">
        <% if(allPosts[i-2]){ %>
      <img style="height: 10em; width: 10em;" src="<%= allPosts[i-2].post[0].url %>" alt="...">
      <% }else{} %>
      </div>
    </div>
</div>
<% } %>
  <% } %>


</div>